{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
   "ecmaVersion": 6
 },
  "plugins": ["react"],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
		"node": true,
  },
  "rules": {
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "no-new": 0,
    "no-plusplus": 0,
    "no-script-url": 0,
  },
  "globals": {
    "Chart": true,
    "ActiveXObject": true,
		"lang": true,
  }
}
